html{
    font-family: poppins, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.5rem;
    scroll-behavior: smooth;
}
.about-section{
    display: grid;
    background-color: var(--body-clt);
    text-align: start;
    grid-auto-flow: row;
    border: 1px solid var(--line-clr);
  
    padding: min(3em,15%);
    h1,h2,p {
        margin-top: 1em;
    }
}
