
.services-section{
    display: grid;
    background-color: var(--body-clt);
    text-align: start;
    grid-auto-flow: row;
    padding: min(3em,15%);
    h1,h2,p {
        margin-top: 1em;
    }
}
.services-section .service-list{
    display: grid;
    grid-auto-flow: column;
    overflow-x: auto;
}
.services-section .service-card {
    width: 240px;
    height: 450px;
    margin: 24px 16px;
    padding: 16px 24px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: var(--body-clt);
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.service-card img{
    width: 200px;
    margin-top: 16px;
}

.services-section .service-card:hover{
    transform: scale(1.02);
    box-shadow: 0 0 8px , 0  0 2px #9900ff;
}
.enquire{
    text-decoration: none;
    border-radius: 4px;
    margin: 16px;
    position: relative;
    top: 4px;
    margin-top: auto;
}
.enquire span{
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 4px;
} 
