
* {
    margin: 0;
    padding: 0;
}

html {
    font-family: poppins, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.5rem;
    color: var(--text-clr);
}

.fetch-sub-events {
    padding: 0px;
    margin: 0;
  
}

.sub-event-card-container {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    margin-top: 20px;
    align-items: center;
}

.sub-event-card {
    border: 1px solid var(--accent-clr);
    border-radius: 8px;
    padding: 16px;
    width: 240px;
    height: 200px;
    overflow: hidden;
    box-shadow: 0 0px 4px,0 0 4px var(--hover-clr);
    background: var(--body-clt);
}
.sub-event-card:hover {
    box-shadow: 0 0 4px, 0 0 80px var(--accent-clr) inset;
    transition: 0.3s;
}

.sub-event-card h3,strong{
    margin-top: 0;
    font-size: 1.2rem;
    color: var(--active-text-clr);
}

.error {
    color: red;
}
#sub-event-card-title {
    font-size: 1.2rem;
    font-weight: 600;
    margin-bottom: 10px;
    text-align: center;
}
.addButton a{
    text-decoration: none;
   
    
}
.addButton span{
     display: flex;
    align-items: center;
    gap: 6px;
    font-weight: 600;
    background-color: var(--secondarr-text-clr);
    color: var(--body-clt);
    padding: 8px 16px;
    width: fit-content;
    border-radius: 4px;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
    
}
.addButton{
    text-decoration: none;
    height: fit-content;
}
.addButton span:hover{
    transition: 0.3s;
    color: var(--btn-text);
    background-color: var(--hover-clr);
       transform: scale(1.02);
}
.sub-event-card {
    border: 1px solid var(--secondarr-text-clr);
    border-radius: 8px;
    padding: 16px;
    width: 240px;
    height: 200px; /* Increased height for content + button */
    overflow: hidden;
    box-shadow: 0 0px 4px, 0 0 4px var(--hover-clr);
    background: var(--body-clt);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    text-align: center;
}

.enquire {
    margin-top: auto; /* Pushes this div to the bottom */
}

.enquire a {
    text-decoration: none;
    background-color: var(--secondarr-text-clr);
    color: var(--body-clt);
    border-radius: 4px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 6px;
    gap: 6px;
}

.enquire a:hover {
 
    box-shadow: 0 0 4px, 0 0 4px black;
}

.delete-btn-container {
    position: relative;
}

.delete-btn {
    width: fit-content;
}