
*{
    margin: 0;
    padding: 0;
}
html{
    font-family: poppins, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.5rem;
}
.studio-card-link{
    text-decoration: none;
    color: var(--text-clr);
}
.container-details{
    display: flex;
    flex-direction: column;
    overflow: hidden;
    gap: 16px;
    margin: 20px;
    padding: 20px;
    background-color: var(--body-clt);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.studio-list a{
    display: grid;
    grid-column: auto;
    gap: 4px;
    margin-top: 20px;
    padding: 0px;
}
.studio-card{
    text-align: left;
    width: auto;
    height: 250px;
    padding: 16px;
    border: 1px solid var(--card-border);
    border-radius: 8px;
    background: #fff;
    box-shadow: 0 4px 8px rgba(162, 243, 174, 0.2);
    transition: 0.2s;
    display: grid;
    gap: 16px;
    grid-template-columns: 250px 1fr;
}

.studio-card:hover{
    box-shadow: 0 0 4px, 0 0 2px var(--text-clr);
}
.studio-card img {
    width: 250px;
    height: 200px;
    border-radius: 4px;
    object-fit: cover;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
.studio-contact {
    display: flex;
    flex-direction: row;
    text-wrap: nowrap;
    gap: 8px;
    font-weight: bold;
    width: 40%;
}
.studio-contact a {
    color: var(--body-clt);
    text-decoration: none;
    display: flex;
    flex-direction: row;
    font-weight: 600;
    padding: 8px 16px;
    width: fit-content;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
    background-color: var(--secondarr-text-clr);
    transition: 0.3s;
    gap: 6px;
}
.studio-contact a span{
    padding-left: 8px;
    display: flex;
    align-items: center;
}
.studio-contact a:hover {
    color: var(--btn-text);
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
    background-color: var(--secondarr-text-clr);
    transition: 0.3s;
    transform: scale(1.02);
}
.carouselOneStep {
    width: auto;
    height: 200px;
    overflow: hidden;
    position: relative;
    border-radius: 4px;
  }
  
  .carouselOneStep img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    margin: 16px;
    margin-left: 0px;
    border-radius: 4px;
   
  }
.add {
    display: flex;
    align-items: center;
    background-color: var(--secondarr-text-clr);
    color: var(--body-clt);
    padding: 8px 16px;
    width: fit-content;
    border-radius: 4px;
    gap: 6px;
    text-decoration: none;
    font-weight: 600;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
    transition: 0.3s;
}

.add:hover{
    color: var(--btn-text);
    background-color: var(--hover-clr);
    box-shadow: 0 0 4px, 0 0 4px black;
    transform: scale(1.02);
}
.studio-location{
    display: flex;
    margin-top: 8px ;
}

.studio-card-wrapper {
    position: relative;
}

.edit-btn {
    background-color: red;
    padding: 4px 16px;
    border: none;
    color: var(--body-clt);
    border-radius: 6px;
    position: absolute;
    top: 10px;
    right: 10px;
}

.edit-btn::before{
    content: '';
}
.edit-btn:hover{
    transform: scale(1.02);
    box-shadow: 0 0 4px, 0 0 4px black;
}