
.package_box {
  background-color: whitesmoke;
  margin: 20px;
}

.package-container {
    padding: 2rem;
    max-width: 1200px;
    margin: 0 auto;

  }
  
  .package-container h2 {
    text-align: center;
    margin-bottom: 2rem;
    font-size: 2rem;
    color: var(--text-clr);
  }
  
  .package-card-grid {
    margin: 20px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 2rem;
    margin-bottom: 2rem;
  }
  
  .package-card {
    background-color: #f9f9f9;
    border-radius: 15px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    padding: 1.5rem;
    transition: transform 0.2s ease;
    overflow:hidden;
    width: auto;
    height: auto;
  }
  
  .package-card:hover {
    transform: scale(1.02);
    box-shadow: 0 0 4px,0 0 4px blueviolet;
  }
  
  .package-card-body h3 {
    margin-top: 0;
    color: var(--accent-clr);
    background-color: rgba(0, 0, 0, 0.1);
    width: fit-content;
    padding: 8px;
    border-radius: 8px;
    
  }
  
  .package-card-body strong {
    display: block;
    font-size: 1rem;
    margin: 0.5rem 0;
    color: var(--text-clr);
    
  }
  
  .package-services {
    margin: 1rem 0;
    font-size: 0.95rem;
  }
  
  .package-card-body p {
    margin: 1rem 0;
    color: #555;
  }
  
  .enquire-link {
    text-align: center;
    margin-top: 1.5rem;
  }
  
  .admin-link {
    display: flex;
    align-items: start;
    padding: 0.6rem 1.2rem;
    background-color: var(--secondarr-text-clr);
    border-radius: 8px;
    text-decoration: none;
    transition: background-color 0.3s ease;
  }
  

  
  /* Add Package Link at bottom */
  .package-enquire-link a{
    padding: 8px 16px;
    background-color: var(--secondarr-text-clr);
    border: none;
    border-radius: 8px;
    font-weight: 600;
    width: fit-content;
    height: fit-content;
    text-decoration: none;
}
.package-card a:hover{
    color: var(--active-text-clr);
    box-shadow: 0 0 4px,0 0 4px black;

}
.add_package{
    text-decoration: none;
    color:var(--body-clt);
    background-color: var(--secondarr-text-clr);
    padding: 8px 16px;
    border-radius: 8px;
    margin: 24px 0px;
    font-weight: 600;

}

.service-display{
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.edit-btn-container {
  position: relative;
}