@import url("../style.css");
.sub-event-form{
    display: grid;
    border: 1px solid var(--line-clr);
    border-radius: 1.5em;
    margin: 16px;
    margin-bottom: 20px;
    padding: min(3em,15%);
    h1,h2,p {
        margin-top: 1em;
    }
}
.sub-event-form form  button{
    background-color: var(--secondarr-text-clr);
    color: var(--body-clt);
    font-weight: 600;
    width: fit-content;
    border: none;
    text-wrap: nowrap;
    text-align: center;
    justify-content: center;
}
.sub-event-form form  button:hover{
    background-color: var(--hover-clr);
    color: var(--btn-text);
    font-weight: 600;
    width: fit-content;
    transition: 0.5s;
}